main .links-sociales{
list-style:  none;
margin: 0;
padding: 0;

}

main .links-sociales li {
	border-top: 1px solid #6095c7; /* borde balnquito entre redes */
}

main .links-sociales li:last-child a{
	border-radius: 0 0 5px 5px; /* redondear los bordes de la ultima red social*/
}


main .links-sociales li a {
	display: block;
	padding: 20px;
	text-decoration:  none; /*quitar el subrayado*/
	color: white;
	transition: padding-left .2s ease;
}

main .links-sociales li a:hover { /*cuando le pacen el mouse para que brille mas*/
	background-color: red;
	padding-left: 30px;



}

main .links-sociales li a img {
	vertical-align: middle; /*solo se usa con imagenes o tablas*/
	margin-right: 10px;

}